.backpacking-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--pf-global--BackgroundColor--dark-100);
    color: grey;
    font-weight: 500;
    height: 4em;
    width: 100%;
    padding-top: 1.25em;
    padding-left: 1.25em;
}