.app-c-card-gear-item {
  height: 400px;
  &__title {
    font-size: 18px;
    color: #4F5255;
    text-transform: capitalize;
  }
  &__body {
    img {
      height: 200px;
    }
    .icon-weight {
      color: #2B9AF3;
      svg {
        fill: #2B9AF3 ;
        margin-right: 4px;
        width: 16px;
      }
    }
    .description {
      color: gray;
    }
  }
  &__footer {
    background-color: #FAFAFA;
    .button-delete {
      color: gray !important;
    }
    .button-add {
      &.pf-m-disabled {
        color: gray;
      }
    }
  }
}
